<section>
<div class="">
    <%= notice%>
</div>
<div class="">
    <%= alert%>
</div>
 <%= render partial: "shared/post", locals: {post: @posts} %>
 
 <div>
   <div class="btn">
   <%= form_with model: @like, url: "/users/#{@posts.author_id}/posts/#{@posts.id}/likes", scope: :like do |form| %>
     <%= form.submit "Like" %>
     <% end %>
   </div>

   <div class="field">
   <% @posts.recent_comments.each do |comment| %>
    <p><%= comment.author.name %>: <%= comment.text %></p>
  <% end %>
  </div>
    
   <div>
      <%= render "shared/comment_form" %>
   </div>
 </div>
</section>